doctype html
html
  head
    title My Portfolio
    link(rel="stylesheet", href="/css/styles.css")  
  body
    .navbar
      .logo RESHMI HARIKUMAR LATHAKUMARI
      ul.nav
        li
          a(href="/admin/projects") Add Project
        li
          a(href="/admin/skills") Add Skill
        li
          a(href="/projects") View Projects
        li
          a(href="/skills") View Skills

    block content
